
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.position-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.position-box {
  width: 50%;
  padding: 20px;
  border: 2px solid #333;
  background-color: #f9f9f9;
  position: relative; 
}


.box {
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin: 10px;
  font-weight: bold;
}


.box1 {
  position: absolute;
  top: 10px;
  left: 20px;
}

.box2 {
  position: absolute;
  top: 50px;
  left: 80px;
}

.box3 {
  position: absolute;
  top: 90px;
  left: 140px;
}
